.container {
    display: flex;
    float: left;
    height: 500px;
    width: 70vh;
    justify-content: center;
    // align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: ghostwhite;
    margin: "0 auto";
}
