.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 20rem;
    margin: 0 auto;
    width: 800px;
}

.imageContainer {
    // border: 1px solid;
    width: 400px;
    height: 500px;
}

.image {
    width: 400px;
    height: 500px;
    opacity: 0.8;
}

.formContainer {
    // border: 1px solid;
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #f1f2f4;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    background-color: #af96eb;
}

.actions {
    text-align: left;
    border-radius: 6px;
}

.invalid label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.invalid input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid rgb(255, 0, 0);
    width: 20rem;
    max-width: 100%;
    background-color: rgba(250, 208, 208, 0.904);
}

.invalid input:hover {
    background-color: #af96eb;
    border-color: #af96eb;
}

.invalid input:focus {
    background-color: #af96eb;
    border-color: #af96eb;
}

.caution {
    color: red;
}

.actions button {
    background-color: darkblue;
    color: white;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    margin-right: 20px;
}

.actions button:disabled,
.actions button:disabled:hover,
.actions button:disabled:active {
    background-color: gray;
    color: white;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    margin-right: 20px;
}
