@use 'styles/colors.module.scss';

$gnbHeight: 96px;

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 200;
}

.main {
  position: absolute;
  top: $gnbHeight;
  left: 248px;
  padding: 20px;
  background-color: #f1f2f4;
  min-width: calc(100vw - 248px);
  min-height: calc(100vh - 96px);
}
